/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-icon-device {
  display: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.orange-button {
  display: inline-block;
  background-color: #ff7500;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 0.3s;
}

.orange-button:hover {
  opacity: 80%;
}

.orange-button:active {
  opacity: 60%;
}

.header {
  padding-bottom: 16px;
  padding-top: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.burger-menu {
  display: none;
}

.header-logo:hover {
  opacity: 80%;
}

.header-logo:active {
  opacity: 60%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-links {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.header-link {
  color: #252420;
  transition: 0.3s;
  position: relative;
}

.header-link::after {
  content: "";
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease;
  position: absolute;
  height: 2px;
  background-color: #ff7500;
  width: 0%;
}

.header-link:hover::after {
  width: 100%;
}

.header-link:hover {
  color: #ff7500;
  opacity: 80%;
}

.hero {
  background-color: #252420;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.orange-button-hero {
  display: inline-block;
  background-color: #ff7500;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 0.3s;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 387px;
  width: 100%;
}

.hero-img {
  box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.6);
  border-radius: 8px;
  top: -40px;
  position: absolute;
  right: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.hero-title {
  font-size: 40px;
  margin-bottom: 22px;
  letter-spacing: 0.5px;
  line-height: 122%;
  font-family: "Roboto-Condensed", sans-serif;
  margin-top: 40px;
}

.hero-text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 32px;
}

.why {
  padding-top: 210px;
  padding-bottom: 35px;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  max-width: 340px;
  width: 100%;
}

.why-title {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-size: 72px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(243, 190, 144, 0.2);
  margin-bottom: 32px;
  border-radius: 50%;
}

.card-title {
  font-family: "Robot Condensed", sans-serif;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 120%;
}

.cta {
  display: flex;
  scroll-margin-top: 200px;
  align-items: center;
  justify-content: space-between;

  padding: 64px;
  position: relative;
}

.cta-container {
  display: flex;
  align-items: center;
  background-color: #252420;
  color: white;
  padding: 64px;

  border-radius: 12px;
  margin-bottom: 160px;
}

.cta-content {
  max-width: 440px;
  width: 100%;
}

.cta-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}

.cta-text {
  margin-top: 12px;
  margin-bottom: 24px;
}

.orange-text {
  color: #ff7500;
}

.cta-img {
  width: 100%;
  max-width: 440px;
  height: auto;
  border-radius: 12px;
  position: static;
  margin-top: 24px;
}

.footer {
  background-color: #f8f8f8;
  padding-bottom: 56px;
  padding-top: 56px;
}

.footer-top,
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.socials {
  display: flex;
  gap: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 150px;
}

.footer-link {
  text-decoration: none;
  color: #252420;
  transition: 0.3s;
}

.footer-link:hover {
  color: #ff7500;
  opacity: 80%;
}

.footer-link:active {
  color: #ff7500;
  opacity: 60%;
}

.footer-img {
  width: 24px;
  height: 24px;
}

.footer-img:hover path {
  fill: #ff7500;
  transition: fill 0.3s ease;
}

.planshet-img {
  display: none;
}

.hero-img {
  width: 500px;
}
/*footer */
.footer-bottom-b {
  margin-top: 50px;
  display: flex;
  gap: 70px;
}

.footer-bottom-t {
  display: flex;
  gap: 70px;
  margin-top: 50px;
}

.footer-img-device {
  display: none;
}
@media (max-width: 950px) {
  .hero-img {
    position: static;
    box-shadow: none;
  }
  .hero-container {
    flex-direction: column;
    gap: 40px;
  }
  .hero-content {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 890px) {
  .header-nav {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}

@media (max-width: 660px) {
  .hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero-img {
    height: 450px;
  }
  .hero-title {
    font-size: 30px;
  }
}

@media (max-width: 545px) {
  .orange-button {
    display: none;
  }
}

@media (max-width: 450px) {
  .hero-img {
    height: 300px;
  }
}

@media (max-width: 470px) {
  .orange-button {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-icon {
    width: 110px;
    height: 30px;
  }
  .burger-menu {
    width: 24px;
    height: 24px;
  }
}
